<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="kr.or.ddit.user.model.UserVo" alias="userVo"/>
  	<typeAlias type="kr.or.ddit.common.model.PageVo" alias="pageVo"/>
  	<typeAlias type="kr.or.ddit.user.model.empVo" alias="empVo"/>

  	
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
        <property name="username" value="yongyong"/>
        <property name="password" value="java"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/users.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/emp.xml"/>
    
  </mappers>
</configuration>