<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="kr.or.ddit.board.model.KboardinfoVo" alias="boardVo"/>
  	<typeAlias type="kr.or.ddit.board.model.UserVo" alias="userVo"/>
  	<typeAlias type="kr.or.ddit.common.model.PageVo" alias="pageVo"/>
  	<typeAlias type="kr.or.ddit.board.model.KboardpostVo" alias="postVo"/>
  	<typeAlias type="kr.or.ddit.board.model.ComVo" alias="comVo"/>
  	<typeAlias type="kr.or.ddit.board.model.FileVo" alias="fileVo"/>
  </typeAliases>


  <mappers>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/users.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/kinfo.xml"/>
    <mapper resource="kr/or/ddit/config/mybatis/mapper/file.xml"/>
    
    
    
  </mappers>
</configuration>