<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.BasicServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimesTableServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.TimesTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesTableServlet</servlet-name>
    <url-pattern>/TimesTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scope</display-name>
    <servlet-name>Scope</servlet-name>
    <servlet-class>kr.or.ddit.servelt.scope.Scope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scope</servlet-name>
    <url-pattern>/Scope</url-pattern>
  </servlet-mapping>
</web-app>