<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>basicServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.BasicServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicServlet</servlet-name>
    <url-pattern>/basicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TimesTableServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet.basic.TimesTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimesTableServlet</servlet-name>
    <url-pattern>/TimesTableServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Scope</display-name>
    <servlet-name>Scope</servlet-name>
    <servlet-class>kr.or.ddit.servelt.scope.Scope</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Scope</servlet-name>
    <url-pattern>/Scope</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mulCalculation</display-name>
    <servlet-name>mulCalculation</servlet-name>
    <servlet-class>kr.or.ddit.servlet.scope.mulCalculation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mulCalculation</servlet-name>
    <url-pattern>/mulcalculation</url-pattern>
  </servlet-mapping>
    
  <error-page>
  <!--class full name :패키지 . 클래스명   c s t  ari-->
  	<exception-type>java.lang.ArithmeticException</exception-type>
  	<location>/error/type/ariError.jsp</location>
  </error-page>
  
  <error-page>
  <!--class full name :패키지 . 클래스명   c s t  ari-->
  	<exception-type>java.lang.RuntimeException</exception-type>
  	<location>/error/type/runError.jsp</location>
  </error-page>
  <!-- error page설정 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/404/404.jsp</location>
  </error-page>
  
   <error-page>
  	<error-code>500</error-code>
  	<location>/error/500/500.jsp</location>
  </error-page>

  
  
  
</web-app>